// == HEADINGS ==
@mixin main-heading {
    font-size: 90px;
    font-weight: 900;
    color: $black;
}

@mixin sub-heading {
    font-size: 84px;
    font-weight: 700;
}

// == PARAGRAPHS ==
@mixin text-xlarge {
    font-size: 38px;
}

@mixin text-large {
    font-size: 32px;
}

@mixin text-medium-large {
    font-size: 28px;
}

@mixin text-medium {
    font-size: 27px;
}

@mixin text-small {
    font-size: 26px;
}