// == COLORS ==

// == ABSOLUTE COLORS ==
$white: #FFFFFF;
$black: #000000;

// == GREEN SHADES ==
$fresh-green: #0D9206;
$olive-gray: #789376;

// == ORANGE SHADES ==
$warm-orange: #FF8800;

// == GREY SHADES ==
$steel-gray: #7D7D7D;

