// == SLIDER ==
.splide__slide {
    width: unset !important;
}

// == SLIDER - ARROWS ==
.splide__arrow {
    display: flex !important;
    gap: .6875rem;
    top: 60%;
    background: transparent;

    .custom-arrow__icon {
        display: flex;
        background-color: $white;
        padding: .875rem;
        border-radius: 100%;
        box-shadow: .3125rem 0 .4375rem rgba($black, 0.16);
    
        .custom-arrow__svg {
            width: 1.4375rem;
            height: 1.4375rem;
            color: $fresh-green;
        }
    }


    .custom-arrow__text {
        font-weight: 400;
        @include text-small;
        line-height: 2.3125rem;
        color: green !important;
        white-space: nowrap;
        background-color: $white;
        border-radius: 3.5rem;
        padding: .75rem 1.4375rem .6875rem 1.625rem;
    }
}

.splide__arrow--next {
    right: 11.875rem;
}

.splide__arrow--prev {
    left: 6.25rem;
}

// == BREAKPOINTY ==
@media screen and (max-width: 767px) {
    .custom-arrow__text {
        display: none;
    }

    .splide__arrow--next {
        right: 2.8125rem;
    }

    .splide__arrow--prev {
        left: 2.5rem;
    }
}